# Dependencias
node_modules

# Archivos de entorno
.env

# Archivos comprimidos 
*.rar
*.zip

# Carpeta de build de producción
dist/

# Archivos de configuración local de Capacitor
capacitor.config.json