# Ignorar las dependencias de la PC
node_modules

# Ignorar el archivo .env (Configuramos las variables de entorno en Render)
.env

# Ignorar archivos de logs
npm-debug.log

# Ignorar todos los archivos de testing y configuración de tests
src/**/__tests__
__mocks__
jest.config.cjs
babel.config.cjs

# Ignorar archivos de Git y GitHub (no los necesitamos en producción)
.git
.gitignore
.github