# Ignorar las dependencias de tu PC (se instalan DENTRO del contenedor)
node_modules

# Ignorar el archivo .env (las variables se configuran en Render)
.env

# Ignorar archivos de logs
npm-debug.log

# Ignorar todos los archivos de testing y configuración de tests
src/**/__tests__
__mocks__
jest.config.cjs
babel.config.cjs

# Ignorar archivos de Git y GitHub (no necesarios en producción)
.git
.gitignore
.github