.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.layout-container > main {
  flex-grow: 1; 
}

.app-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1c2836; /* Mismo fondo oscuro de tu app */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: pulseLogo 1.5s infinite ease-in-out;
}

.loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 150, 136, 0.3); /* Teal transparente */
    border-top: 4px solid #009688; /* Teal fuerte */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes pulseLogo {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}