.card-s {
    position: relative;
    width: 100%; /* Hacemos que ocupe el espacio de la grilla */
    height: 100%;
    cursor: pointer;
}

.card-s .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .5s;
}

.card-s .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card-s .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-s .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

.card-s .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card-s .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card-s .back .link a {
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
}

.card-s .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card-s .back p {
    letter-spacing: 1px;
}

/* El efecto al pasar el mouse */
.card-s:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card-s:hover .back {
    transform: perspective(600px) rotateY(360deg);
}