<header class="top-bar-support">
    <a href="/">
        <div class="top-bar-left-support">
            <div class="logo-support">
                <img src="../images/logo.png" alt="Logo Sper" width="60" height="60">
            </div>
            <div class="title-support">

            </div>
    </a>
</header>


<main>
    <div>
        <h1 class="title-case">Caso</h1>
    </div>
</main>

<footer class="footer-bar">
    <p>© 2025 SPER - Departamento de Seguridad Informática</p>
</footer>