{{>navBar}}

<form id="formEditVehicle">
    <div class="title-add-product">
        <h2 class="title-add">Cargar Vehiculo</h2>
    </div>
    <div class="desc-product">
        <p>Descripcion de estado de Vehiculo</p>
        <input class="controls" type="text" name="description"  id="description"
            placeholder="descripcíon del vehiculo y utilizacion especifica">
    </div>
    </div>
    <div class="name-product">
        <p>ID</p>
        <input class="controls" type="text" name="_id" id="_id" value="{{vehicle._id}}" readonly>
    </div>

    <div class="stock-code-price">

        <div class="stock-product">
            <p>Kilometros</p>
            <input class="controls" type="number" min="0"  name="kilometros"
                id="kilometros" placeholder="kilometraje actual">
        </div>
        <div class="code-product">
            <p>Destino</p>
            <input class="controls" type="text" name="destino"  id="destino"
                placeholder="Unidad asignado">
        </div>
    </div>


    <div class="stock-code-price">
        <div class="price-product">
            <p>Service</p>
            <input class="controls" type="text"  name="service" id="service"
                placeholder="fecha de ultimo service">
        </div>
        <div class="price-product">
            <p>Rodado</p>
            <input class="controls" type="text"  name="rodado" id="rodado"
                placeholder="fecha de cambio de rodado">
        </div>
    </div>
    <div class="price-product">
        <p>Reparaciones</p>
        <input type="text" class="controls" name="reparaciones" id="reparaciones" placeholder="Reparaciones realizadas">
    </div>
    <div class="button-reg">
        <button class="botons" type="submit" id="add-btn">Registrar Cambios</button>
    </div>

</form>
{{#if success}}
<div class="alert alert-success" role="alert">
    Producto modificado con éxito
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#formEditVehicle').on('submit', function (event) {
            event.preventDefault(); // Evitar el envío del formulario por defecto

            const productId = $('#_id').val();
            const description = $('#description').val();
            const kilometros = $('#kilometros').val();
            const destino = $('#destino').val();
            const service = $('#service').val();
            const rodado = $('#rodado').val();
            const reparaciones = $('#reparaciones').val();


            $.ajax({
                url: `/vehicle/${productId}`,
                type: 'PUT',
                data: {
                    reparaciones: reparaciones,
                    description: description,
                    kilometros: kilometros,
                    destino: destino,
                    service: service,
                    rodado: rodado,
                    
                },
                success: function (response) {
                    // Manejar la respuesta de la actualización exitosa
                    console.log(response);
                    window.location.href = `/${productId}`;
                    // Mostrar mensaje de éxito en la página
                    
                },
                error: function (error) {
                    // Manejar cualquier error que ocurra durante la actualización
                    console.error(error);
                    // Mostrar mensaje de error en la página
                }
            });
        });
    });

</script>