    <div class="banner">
        <div class="content">
  
            <div>
                <a class="buttons-nav" href="/login">
                <button class="login-btn" type="button" id="login"><span class="cover"></span>Inicia sesión</button>
                </a>
            </div>
        </div>
    </div>