    <div class="banner">
        <div class="content">
        <div class="buttons-init"> 

            
            <div class="button-login">
                <a class="buttons-nav" href="/login">
                <button class="login-btn" type="button" id="login"><span class="cover"></span>Inicia sesión</button>
                </a>
            </div>

            <div class="button-support">
                <a class="buttons-nav" href="/support">
                <button class="login-btn" type="button" id="login"><span class="cover"></span>Soporte</button>
                </a>
            </div>    


        </div>
        </div>
    </div>