<header class="top-bar">
    <div class="top-bar-left">
        <div class="logo">
            <img src="../images/logo.png" alt="Logo Sper" width="60" height="60">
        </div>
        <div class="title">
            <h1>SPER</h1>
        </div>
    </div>
   
</header>

<div class="banner">
    <div class="button-login">
        <a href="/login">
            <button class="login-btn" type="button">
                <span class="cover"></span>Iniciar sesión
            </button>
        </a>
    </div>
    <div class="button-support">
        <a href="/register">
            <button class="login-btn" type="button">
                <span class="cover"></span>Registrarse
            </button>
        </a>
    </div>
</div>

<footer class="footer-bar">
    <p>© 2025 SPER - Departamento de Seguridad Informática</p>
</footer>
