<header class="top-bar-support">
    <a href="/">
        <div class="top-bar-left-support">
            <div class="logo-support">
                <img src="../images/logo.png" alt="Logo Sper" width="60" height="60">
            </div>
            <div class="title-support">
                <h1>SPER</h1>
            </div>

        </div>
    </a>
</header>

<main>

</main>

<footer class="footer-bar">
    <p>© 2025 SPER - Departamento de Seguridad Informática</p>
</footer>