<!--

<div class="main-container">
    <div class="left-side">
        <div class="container login">
            <h2 class="form-title">¡Bienvenido al Control de Flota S.P.E.R.!</h2>
            <p class="form-subtitle">Ingresá tu nombre de usuario y contraseña para acceder.</p>
            <form class="login-form" id="login-form" action="/api/login" method="POST">
                <div class="mb-3">
                    <label for="exampleInputUsername" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="exampleInputUsername" name="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" name="passw" class="form-control" id="exampleInputPassword1">
                </div>
                <div>
                    <button type="submit" class="signup-btn1">Iniciar sesión</button>
                </div>
            </form>
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="right-side">
        <img src="/images/black-logo.png" alt="Imagen de Bienvenida">
        </div>
</div>

-->