<div class="banner-productos">
        <div class="navbar-r">
            <img src="/images/logo.png" alt="" class="logo-r">
        </div>
</div>

<div class="container register">
    <form action="/register" method="POST">
        <div class="mb-3"> 
            <label for="exampleInputUsername" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="exampleInputUsername" name="username">
        </div>
        <div class="mb-3"> 
            <label for="exampleInputUnidad" class="form-label">Unidad</label>
            <input type="text" class="form-control" id="exampleInputUnidad" name="unidad">
        </div>
        <div class="mb-3"> 
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electr칩nico con nadie m치s.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contrase침a</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="passw">
        </div>
        <button type="submit" class="btn btn-primary">Registrate</button>
        <button  class="btn btn-primary"><a href="/login">Iniciar sesi칩n</a></button>
    </form>
    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {{/if}}
</div>



<footer>
    {{>footer}}
</footer>