<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SPER</a>
    <img src="/images/logo.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/realtimevehicle">Cargar Vehiculo</a>
        </li>
        {{#if user}}
        {{#if user.admin}}
        <li class="nav-item">
          <a class="nav-link" href="/vehiclegeneral">Flota General</a>
        </li>
        {{/if}}
        {{/if}}
        {{#if user}}
          {{#unless user.admin}}
        <li class="nav-item">
          <a class="nav-link" href="/vehicle">Flota</a>
        </li>
        {{/unless}}
        {{/if}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Unidades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            {{#if user}}{{#if user.dg}}<li> <a class="dropdown-item" href="?unidad=dg">Direccion General</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up1}}<li><a class="dropdown-item" href="?unidad=up1">Unidad Penal 1</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up3}}<li><a class="dropdown-item" href="?unidad=up3">Unidad Penal 3</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up4}}<li><a class="dropdown-item" href="?unidad=up4">Unidad Penal 4</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up5}}<li><a class="dropdown-item" href="?unidad=up5">Unidad Penal 5</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up6}}<li><a class="dropdown-item" href="?unidad=up6">Unidad Penal 6</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up7}}<li><a class="dropdown-item" href="?unidad=up7">Unidad Penal 7</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up8}}<li><a class="dropdown-item" href="?unidad=up8">Unidad Penal 8</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.up9}}<li><a class="dropdown-item" href="?unidad=up9">Unidad Penal 9</a></li>
            {{/if}}{{/if}}
            {{#if user}}{{#if user.inst}}<li><a class="dropdown-item" href="?unidad=inst">Instituto</a></li>
            {{/if}}{{/if}}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logOut" tabindex="-1" aria-disabled="true">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>